
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #1b396a;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand">
            <img src="../../../assets/img/LogoTecNM Blanco.png" width="120" height="50"
                class="d-inline-block align-top" alt="TecNM Logo" loading="lazy">
        </a>
        <a class="navbar-brand" >
            <img src="../../../assets/img/granja.png" width="50" height="50" class="d-inline-block align-top" alt="">
            <a style="font-family: cursive; font-size: 1.5rem; color:white;">IoT PlantMate</a>
        </a>

        <img src="../../../assets/img/itcuautla.png" width="50" height="50"
            class="d-inline-block align-top" alt="TecNM Logo">
    </div>
</nav>

<div class="is">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <form class="f" (ngSubmit)="register()">
                <div class="form-group">
                    <label for="nom">Nombre de usuario</label>
                    <input type="text" name="nom" class="form-control" [(ngModel)]="nombre" placeholder="Ingrese su nombre">
                    <!-- [(ngModel)]="datosLogin.correoElectronicoEmpleado" -->
                </div>
                <div class="form-group">
                    <label for="email">Correo electronico</label>
                    <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Ingrese su correo electronico" >
                    <!-- [(ngModel)]="datosLogin.passwordEmpleado" -->
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="pass" class="form-control" [(ngModel)]="password" placeholder="Ingrese su contraseña" >
                    <!-- [(ngModel)]="datosLogin.passwordEmpleado" -->
                </div>
                <div class="form-group">
                    <label for="password">Confirmar contraseña</label>
                    <input type="password" name="pass" class="form-control"  [(ngModel)]="confirmPassword" placeholder="Ingrese su contraseña" >
                    <!-- [(ngModel)]="datosLogin.passwordEmpleado" -->
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block" >Crear cuenta</button>
                <!-- (click)="login()" -->
            </form>
        </div>
    </div>
</div>

<div class="card-footer p-4 pt-0 border-top-0" style="background-color: #1b396a;">
    <div class="text-center">
        <a style="color: white;"> ©2023  IoT PlantMate TECNM ITC</a>
    </div>
</div>
