.container {
    display: flex;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #4682b4;
    color: white;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 90px 0;
    /* background-color: #333;  */
    /* Fondo del menú */
}

.menu li {
    padding: 10px;
    display: flex; /* Permite alinear verticalmente la imagen y el texto */
    align-items: center; /* Alinea verticalmente la imagen y el texto */
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: white; /* Color del texto del menú */
    padding: 10px;
    display: inline-block;
  }

.menu li img {
    width: 20px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 20px;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.content {
    margin-left: 200px; /* Ancho del menú */
    padding: 20px;
    width: calc(100% - 200px); /* Ajusta el ancho del contenido */
    padding-top: 90px; /* Ajusta según la altura de la barra de navegación */
    padding-bottom: 50px; /* Ajusta según la altura del footer */
    text-align: center;
}

.card-footer {
    background-color: #1b396a;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}


.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content p {
    font-family: cursive;
    font-size: 1.5rem;
    margin-bottom: 20px; /* Espacio entre el título y los iframes */
}

.video-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; /* Espacio entre las filas de iframes */
}

.video-row iframe {
    margin: 0 10px; /* Espacio entre los iframes en una fila */
}