
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #1b396a;">
    <div class="container"> <!-- Contenedor para centrar los elementos -->
  
        <!-- Logo e imagen -->
        <a class="navbar-brand">
            <img src="../../../assets/img/LogoTecNM Blanco.png" width="120" height="50"
                class="d-inline-block align-top" alt="TecNM Logo" loading="lazy">
        </a>
  
        <!-- Título de la aplicación -->
        <a class="navbar-brand" >
            <img src="../../../assets/img/granja.png" width="50" height="50" class="d-inline-block align-top" alt="">
            <a style="font-family: cursive; font-size: 1.5rem; color:white;" routerLink="/user">IoT PlantMate</a>
        </a>
  
        <!-- Logo del TecNM -->
        <img src="../../../assets/img/itcuautla.png" width="50" height="50"
            class="d-inline-block align-top" alt="TecNM Logo">
  
    </div>
  </nav>

<div class="container">
    <div class="menu">
        <ul>
            <li><a>Menú</a></li>
            <br>
            <li><a routerLink="/porfile"><img src="../../../assets/img/user.png" alt="Icono 1">Perfil</a></li>
            <li><a routerLink="/nuevocultivo"><img src="../../../assets/img/planta.png" alt="Icono 2">Nuevo cultivo</a></li>
            <li><a routerLink="/plants"><img src="../../../assets/img/plantas.png" alt="Icono 3">Cultivos</a></li>
            <li><a routerLink="/etapacultivo"><img src="../../../assets/img/planta-en-crecimiento.png" alt="Icono 4">Registrar etapa</a></li>
            <li><a routerLink="/videos"><img src="../../../assets/img/video.png" alt="Icono 5">Tutoriales</a></li>
            <br>
            <br>
            <br>
            <br>
            <li><a (click)="logout()"><img src="../../../assets/img/cerrar-sesion.png" alt="Icono 6">Cerrar sesión</a></li>
        </ul>
    </div>
    
    <div class="content">
        <p>VIDEOS</p>
    
        <div class="video-row">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lFAlXkWK9X0" frameborder="0" allowfullscreen></iframe>
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GySL0Y9-scU" frameborder="0" allowfullscreen></iframe>
        </div>
    
        <div class="video-row">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ubnX1DiK0Oo" frameborder="0" allowfullscreen></iframe>
    
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ubnX1DiK0Oo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    
</div>


<!-- Footer -->

<div class="card-footer p-4 pt-0 border-top-0" style="background-color: #1b396a;">
    <div class="text-center">
        <a> ©2023  IoT PlantMate TECNM ITC</a>
    </div>
</div>