
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #1b396a;">
  <div class="container"> <!-- Contenedor para centrar los elementos -->

      <!-- Logo e imagen -->
      <a class="navbar-brand">
          <img src="../../../assets/img/LogoTecNM Blanco.png" width="120" height="50"
              class="d-inline-block align-top" alt="TecNM Logo" loading="lazy">
      </a>

      <!-- Título de la aplicación -->
      <a class="navbar-brand" >
          <img src="../../../assets/img/granja.png" width="50" height="50" class="d-inline-block align-top" alt="">
          <a style="font-family: cursive; font-size: 1.5rem; color:white;" routerLink="/user">IoT PlantMate</a>
      </a>

      <!-- Logo del TecNM -->
      <img src="../../../assets/img/itcuautla.png" width="50" height="50"
          class="d-inline-block align-top" alt="TecNM Logo">

  </div>
</nav>

<div class="container">
    <div class="menu">
        <ul>
            <li><a>Menú</a></li>
            <br>
            <li><a routerLink="/porfile"><img src="../../../assets/img/user.png" alt="Icono 1">Perfil</a></li>
            <li><a routerLink="/nuevocultivo"><img src="../../../assets/img/planta.png" alt="Icono 2">Nuevo cultivo</a></li>
            <li><a routerLink="/plants"><img src="../../../assets/img/plantas.png" alt="Icono 3">Cultivos</a></li>
            <li><a routerLink="/etapacultivo"><img src="../../../assets/img/planta-en-crecimiento.png" alt="Icono 4">Registrar etapa</a></li>
            <li><a routerLink="/videos"><img src="../../../assets/img/video.png" alt="Icono 5">Tutoriales</a></li>
            <br>
            <br>
            <br>
            <br>
            <li><a (click)="logout()"><img src="../../../assets/img/cerrar-sesion.png" alt="Icono 6">Cerrar sesión</a></li>
        </ul>
    </div>
    
    <div class="content">
      <!-- Contenido principal de tu página -->
      <div class="pagination-container text-center">
        <button (click)="cambiarCultivoPagina(-1)" (click)="cambiarPagina(-1)" [disabled]="currentPage === 1" style="background-color: limegreen; margin-right: 10px;">Anterior</button>
        <button (click)="cambiarCultivoPagina(1)" (click)="cambiarPagina(1)" style="background-color: limegreen;">Siguiente</button>
        <br>
        <br>
      </div>
  
        
            <div class="cultivo-container" style="max-width: 500px; margin: 0 auto;">
                <h3 class="text-center mb-4">Huerto: {{ cultivos[cultivoActualIndex]?.id }}</h3>
                
                <div class="chart-container">
                    <div class="chart">
                        <h4 class="text-center" style="max-width: 400px; width: 100%;">Sensores cultivo </h4> <!-- Nombre de la gráfica -->
                        <canvas id="humidityChart"></canvas>
                    </div>
                    
                    <!-- Agrega más bloques para otras gráficas -->
                </div>
            </div>
        

            <table [formGroup]="cultivoForm" class="table">
                <thead style="background-color: cornflowerblue;">
                  <tr>
                    <th colspan="11" class="text-center" style="font-weight: bold; font-size: 1.4rem; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">DATOS DEL CULTIVO</th>
                </tr>

                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>nombreCientifico</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Crecimiento</th>
                        <th>Ubicacion</th>
                        <th>Tipo de tierra</th>
                        <th>Sustrato</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let cultivo of cultivos$ | async | slice: (currentPage - 1) * itemsPerPage : (currentPage - 1) * itemsPerPage + itemsPerPage" style="background-color: aliceblue;">
                        <td>{{ cultivo.id }}</td>
                        <td *ngIf="!cultivo.editable">{{ cultivo.fecha }}</td>
                        <td *ngIf="cultivo.editable">
                            <input formControlName="fecha" />
                          </td>
                        <td *ngIf="!cultivo.editable">{{ cultivo.nombreCientifico }}</td>
                        <td *ngIf="cultivo.editable">
                            <input formControlName="nombreCientifico" />
                        <td *ngIf="!cultivo.editable">{{ cultivo.nombreComun }}</td>
                        <td *ngIf="cultivo.editable">
                            <input formControlName="nombreComun" />
                          </td>
                        <td *ngIf="!cultivo.editable">{{ cultivo.descripcion }}</td>
                        <td *ngIf="cultivo.editable">
                            <input formControlName="descripcion" />
                          </td>
                          <td *ngIf="!cultivo.editable">{{ cultivo.crecimiento }}</td>
                        <td *ngIf="cultivo.editable">
                            <input formControlName="crecimiento" />
                          </td>
                        <td *ngIf="!cultivo.editable">{{ cultivo.ubicacion }}</td>
                        <td *ngIf="cultivo.editable">
                            <input formControlName="ubicacion" />
                          </td>
                        <td *ngIf="!cultivo.editable">{{ cultivo.tierra }}</td>
                        <td *ngIf="cultivo.editable">
                            <input formControlName="tierra" />
                          </td>
                        <td *ngIf="!cultivo.editable">{{ cultivo.substrato }}</td>
                        <td *ngIf="cultivo.editable">
                            <input formControlName="substrato" />
                          </td>
                          <td>
                            <img *ngIf="cultivo.imagenUrl" [src]="cultivo.imagenUrl" alt="Imagen del cultivo" style="max-width: 400px; width: 100%;">
                          </td>
                        <!-- Agrega más celdas según sea necesario -->
                        <td>

                          <i *ngIf="!cultivo.editable" (click)="editarCultivo(cultivo)" class="fas fa-solid fa-pen-to-square fa-xl text-primary"></i>
                          <i class="fas fa-solid fa-trash fa-xl text-danger" (click)="deleteCultivo(cultivo.id)"></i>
                            <button *ngIf="cultivo.editable" (click)="guardarCambios(cultivo)" style="background-color: green;">Guardar</button>
                           

                            

                        </td>
                    </tr>
                </tbody>
            </table>
    
            <input type="text" [(ngModel)]="filtroBusqueda" placeholder="Buscar id del cultivo" />
            <table [formGroup]="etapaForm" class="table">
              <thead style="background-color: cornflowerblue;;">
                <tr>
                  <th colspan="11" class="text-center" style="font-weight: bold; font-size: 1.4rem; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">ETAPAS DEL CULTIVO</th>
              </tr>
                  <tr>
                      <th>ID del cultivo</th>
                      <th>Fecha</th>
                      <th>Etapa</th>
                      <th>Observaciones</th>
                      <th>Medidas</th>
                      <th>Horas</th>
                      <th>Tipo de tierra</th>
                      <th>Sustrato</th>
                      <th>Ubicacion</th>
                      <th>Imagen</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody class="table-group-divider">
                  <tr *ngFor="let etapas of etapas$ | async | slice: (Page - 1) * itemsPage : (Page - 1) * itemsPage + itemsPage" style="background-color: aliceblue;"
                  [hidden]="filtroBusqueda && !(etapas.idcultivo.toLowerCase().includes(filtroBusqueda.toLowerCase()))">
                      <td *ngIf="!etapas.editable">{{ etapas.idcultivo }}</td>
                      <td *ngIf="etapas.editable">
                      <input formControlName="idcultivo" />
                      </td>
                      <td *ngIf="!etapas.editable">{{ etapas.fecha }}</td>
                      <td *ngIf="etapas.editable">
                        <input formControlName="fecha" />
                      </td>
                      <td *ngIf="!etapas.editable">{{ etapas.nombreEtapa }}</td>
                      <td *ngIf="etapas.editable">
                        <input formControlName="nombreEtapa" />
                      </td>
                      <td *ngIf="!etapas.editable">{{ etapas.observaciones }}</td>
                      <td *ngIf="etapas.editable">
                        <input formControlName="observaciones" />
                      </td>
                      <td *ngIf="!etapas.editable">{{ etapas.medidas }}</td>
                      <td *ngIf="etapas.editable">
                        <input formControlName="medidas" />
                      </td>
                      <td *ngIf="!etapas.editable">{{ etapas.horasCalor }}</td>
                      <td *ngIf="etapas.editable">
                        <input formControlName="horasCalor" />
                      </td>
                      <td *ngIf="!etapas.editable">{{ etapas.tierra }}</td>
                      <td *ngIf="etapas.editable">
                        <input formControlName="tierra" />
                      </td>
                      <td *ngIf="!etapas.editable">{{ etapas.substrato }}</td>
                      <td *ngIf="etapas.editable">
                        <input formControlName="substrato" />
                      </td>
                      <td *ngIf="!etapas.editable">{{ etapas.ubicacion }}</td>
                      <td *ngIf="etapas.editable">
                        <input formControlName="ubicacion" />
                      </td>
                      <img *ngIf="etapas.imagenUrl" [src]="etapas.imagenUrl" alt="Imagen del cultivo" style="max-width: 400px; width: 100%;">
                      <!-- Agrega más celdas según sea necesario -->
                      <td>
                        <i class="fas fa-solid fa-trash fa-xl text-danger" (click)="deleteEtapa(etapas.id)"></i>
                          <i *ngIf="!etapas.editable" (click)="editarEtapa(etapas)" class="fas fa-solid fa-pen-to-square fa-xl text-primary"></i>
                          <i *ngIf="etapas.editable" (click)="guardarEtapa(etapas)"class="fa-solid fa-floppy-disk fa-xl"></i>
                          <i (click)="generarPDF(etapas,user)" class="fas fa-solid fa-file-pdf fa-xl"></i>
                      </td>
                  </tr>
              </tbody>
          </table>

          <div class="pagination-container text-center">
            <button (click)="cambiar(-1)" [disabled]="Page === 1" style="background-color: limegreen;">Anterior</button>
            
            <button (click)="cambiar(1)" style="background-color: limegreen;">Siguiente</button>
          </div>

</div>
</div>


<!-- Footer -->

<div class="card-footer p-4 pt-0 border-top-0" style="background-color: #1b396a;">
    <div class="text-center">
        <a style="color:white;"> ©2023  IoT PlantMate TECNM ITC</a>
    </div>
</div>