
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #1b396a;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand">
            <img src="../../../assets/img/LogoTecNM Blanco.png" width="120" height="50"
                class="d-inline-block align-top" alt="TecNM Logo" loading="lazy">
        </a>
        <a class="navbar-brand" >
            <img src="../../../assets/img/granja.png" width="50" height="50" class="d-inline-block align-top" alt="">
            <a style="font-family: cursive; font-size: 1.5rem; color:white;">IoT PlantMate</a>
        </a>

        <div>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit" routerLink="login">Iniciar sesión</button>
            <button class="btn btn-outline-light my-2 my-sm-0 ms-3" type="submit" routerLink="register">Registrarse</button>
        </div>

        <img src="../../../assets/img/itcuautla.png" width="50" height="50"
            class="d-inline-block align-top" alt="TecNM Logo">
    </div>
</nav>





<div class="principal">
    <div class="a">
        <div class="tittle">
            <p>IoT</p>
            <p>PLANTMATE</p>
            <h5>Conoce los datos relevantes de tu huerto familiar.</h5>
        </div>
    </div>

    <div class="b">
        <div class="add">
            <img src="../../../assets/img/IoT PlantMate.png" width="250" height="250"
            class="m1">

        </div>
    </div>
</div>

<div class="contac">
    <div class="img">
        <a style="font-family: cursive; font-size: 1.5rem; color:white;">Misión</a>
        <p>Facilitar el acceso a tecnologías inteligentes para la gestión de huertos familiares,
            integrando la tradición con la innovación. Proporcionamos datos precisos,
            recomendaciones útiles, y apoyo educativo para fortalecer la agricultura a
            pequeña escala, priorizando la seguridad de los datos y contribuyendo a la sostenibilidad ambiental.</p>
    </div>
    <div class="desc">
        <a style="font-family: cursive; font-size: 1.5rem; color:white;">Visión</a>
        <p>Empoderar a las comunidades agrícolas a través de la innovación tecnológica,
            conectando la sabiduría tradicional con la vanguardia de la Internet de las cosas.
            Aspiramos a crear un ecosistema donde cada hogar tenga acceso a herramientas inteligentes
            que optimizan la gestión de sus huertos familiares, fomentando prácticas sostenibles,
            mejorando la productividad y contribuyendo al bienestar de las familias y la seguridad alimentaria.</p>
    </div>
</div>

<div class="card-footer p-4 pt-0 border-top-0" style="background-color: #1b396a;">
    <div class="text-center">
        <a style="color:white;"> ©2023  IoT PlantMate TECNM ITC</a>
    </div>
</div>