body {
    padding-top: 70px; /* Ajusta este valor según la altura de tu barra de navegación */
}

.principal {
    background-color: orange;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

/* Media Query para ajustar el tamaño en pantallas pequeñas */
@media (max-width: 768px) {
    .principal {
        height: 100px;
    }
}

.ti-nav{
    font-size: 1rem;
    font-family: cursive;
}

.a{
    width: 70%;
    text-align: center;
    background-color: white;
}

.tittle{
    margin-top: 150px;
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
}

.b{
    width: 30%;
    text-align: center;
    background-color: #001f3f;
    /* rgb(99, 185, 12); */
}

.m1{
    margin-top: 150px;
    text-align: center;
}



.contac {
    background-color: #4682b4;
     /* #a9e159; */
    /* lawngreen */
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center; /* Centrar verticalmente los elementos */
}

/* Ajustar margen en lugar de margen superior */
.desc {
    margin: 10%;
    margin-top: 150px;
    text-align: center;
    font-size: 1rem;
    font-family: cursive;
}

.img {
    margin: 10%;
    text-align: center;
    font-size: 1rem;
    font-family: cursive;
}