<router-outlet></router-outlet>

<!-- <app-home></app-home> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-main-user></app-main-user> -->
<!-- <app-main-porfile></app-main-porfile> -->
<!-- <app-main-plants></app-main-plants> -->
<!-- <app-main-video></app-main-video> -->
