
.is {
    position: absolute;
    top: 70px; /* Ajusta el valor según la altura de tu <nav> */
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 50px;
    background-image: url('../../../assets/img/j1.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover; /* Ajusta el valor según tus preferencias */
}

.f{
    margin-top: 35%;
    font-size: 1rem;
    font-family: cursive;
}

.card-footer {
    z-index: 2; /* Ajusta el valor según sea necesario */
    position: relative;
}