
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #1b396a;">
    <div class="container"> <!-- Contenedor para centrar los elementos -->
  
        <!-- Logo e imagen -->
        <a class="navbar-brand">
            <img src="../../../assets/img/LogoTecNM Blanco.png" width="120" height="50"
                class="d-inline-block align-top" alt="TecNM Logo" loading="lazy">
        </a>
  
        <!-- Título de la aplicación -->
        <a class="navbar-brand" >
            <img src="../../../assets/img/granja.png" width="50" height="50" class="d-inline-block align-top" alt="">
            <a style="font-family: cursive; font-size: 1.5rem; color:white;" routerLink="/user">IoT PlantMate</a>
        </a>
  
        <!-- Logo del TecNM -->
        <img src="../../../assets/img/itcuautla.png" width="50" height="50"
            class="d-inline-block align-top" alt="TecNM Logo">
  
    </div>
  </nav>

<div class="container">
    <div class="menu">
        <ul>
            <li><a>Menú</a></li>
            <br>
            <li><a routerLink="/porfile"><img src="../../../assets/img/user.png" alt="Icono 1">Perfil</a></li>
            <li><a routerLink="/nuevocultivo"><img src="../../../assets/img/planta.png" alt="Icono 2">Nuevo cultivo</a></li>
            <li><a routerLink="/plants"><img src="../../../assets/img/plantas.png" alt="Icono 3">Cultivos</a></li>
            <li><a routerLink="/etapacultivo"><img src="../../../assets/img/planta-en-crecimiento.png" alt="Icono 4">Registrar etapa</a></li>
            <li><a routerLink="/videos"><img src="../../../assets/img/video.png" alt="Icono 5">Tutoriales</a></li>
            <br>
            <br>
            <br>
            <br>
            <li><a (click)="logout()"><img src="../../../assets/img/cerrar-sesion.png" alt="Icono 6">Cerrar sesión</a></li>
        </ul>
    </div>
    
    <div class="content">
        <!-- Contenido principal de tu página -->
        <div class="form-container ">
            <br>
            <a class="tittleForm">ETAPA DEL CULTIVO</a>
            <br>
            <br>
            <form class="form" [formGroup]="etapaForm" (ngSubmit)="guardar()" (ngSubmit)="resetearFormulario()">
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" formControlName="fecha" name="fecha" required>

                <label for="nomEtapa">ID del cultivo</label>
                <input type="text" id="idcultivo" formControlName="idcultivo" name="idcultivo" required>

                <label for="nomEtapa">Nombre etapa</label>
                <input type="text" id="nomEtapa" formControlName="nombreEtapa" name="nomEtapa" required>

                <label for="obsevacion">Observaciones:</label>
                <textarea id="observacion" formControlName="observaciones" name="observacion" rows="4" required></textarea>

                <label for="medidas">Medidas:</label>
                <input type="text" id="medidas" formControlName="medidas" name="medidas" required>

                <label for="horasCalor">Horas calor:</label>
                <input type="text" id="horasCalor" formControlName="horasCalor" name="horasCalor" required>

                <label for="tipo-tierra">Tipo de Tierra:</label>
                <input type="text" id="tipo-tierra" formControlName="tierra" name="tipo-tierra" required>

                <label for="ubicacion">Ubicación (Maceta/Suelo):</label>
                <select id="ubicacion" formControlName="ubicacion" name="ubicacion" required>
                    <option value="maceta">Maceta</option>
                    <option value="suelo">Suelo</option>
                </select>

                <label for="substrato">Tipo de Substrato:</label>
                <input type="text" id="substrato" formControlName="substrato" name="substrato" required>

                <label for="imagen">Imagen:</label>
                <input type="file" formControlName ="imagenUrl" (change)="onFileSelected($event)" accept="image/*">

                <button type="submit" [disabled]="etapaForm.invalid">Registrar etapa</button>
            </form>
        </div>
</div>

<!-- Footer -->

<div class="card-footer p-4 pt-0 border-top-0" style="background-color: #1b396a;">
    <div class="text-center">
        <a style="color:white;"> ©2023  IoT PlantMate TECNM ITC</a>
    </div>
</div>