.container {
    display: flex;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #4682b4;
    color: white;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 90px 0;
}

.menu li {
    padding: 10px;
    display: flex; /* Permite alinear verticalmente la imagen y el texto */
    align-items: center; /* Alinea verticalmente la imagen y el texto */
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: white; /* Color del texto del menú */
    padding: 10px;
    display: inline-block;
  }

.menu li img {
    width: 20px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 20px;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.content {
    margin-left: 200px; /* Ancho del menú */
    padding: 20px;
    width: calc(100% - 200px); /* Ajusta el ancho del contenido */
    padding-top: 90px; /* Ajusta según la altura de la barra de navegación */
    padding-bottom: 50px; /* Ajusta según la altura del footer */
}

.card-footer {
    background-color: green;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}



.chart {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.bar {
    width: 30px;
    background-color: #007acc;
    position: relative;
    bottom: 0;
    transition: height 1s ease;
}

/* Estilos para el título */
.chart-title {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.tittleForm{
    text-align: center;
    font-family: cursive;
    font-size: 1.5rem;
    color:white;
}

.form-container {
    background-color: #4682b4;
    padding: 20px;
    text-align: center;
}

.form {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.form label {
    display: block;
    margin-bottom: 8px;
    color: white; /* Color de texto blanco */
}

.form input,
.form select,
.form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #45a049;
}